body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a8a;
    padding: 15px 30px;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.menu a:hover {
    color: yellow;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
    color: #111;
}

.hero p {
    font-size: 18px;
    color: gray;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #1e3a8a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background: #0f2a66;
}

/* LOGIN FORM */
.form-box {
    width: 300px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #1e3a8a;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0f2a66;
}